services:
  # 1. MQTT Broker (Mosquitto)
  mosquitto:
    image: eclipse-mosquitto
    container_name: mqtt_broker
    ports:
      - "1883:1883" # MQTT port
      - "9001:9001" # Websocket port
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
    networks:
      - iot_network

  # 2. Middleware (Node-RED)
  node-red:
    image: nodered/node-red
    container_name: node_red
    ports:
      - "1880:1880"
    volumes:
      - node_red_data:/data
    networks:
      - iot_network
    depends_on:
      - mosquitto

  # 3. Time-Series Database (InfluxDB)
  # Using v1.8 here for easier integration with Grafana/Node-RED for students
  influxdb:
    image: influxdb:2.7
    container_name: smartcity_influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin12345
      - DOCKER_INFLUXDB_INIT_ORG=smartcity-org
      - DOCKER_INFLUXDB_INIT_BUCKET=smartcity-bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-auth-token
    volumes:
      - influxdb_data:/var/lib/influxdb2
    networks:
      - iot_network

  # 4. Visualization (Grafana)
  grafana:
    image: grafana/grafana
    container_name: smartcity_grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - iot_network
    depends_on:
      - influxdb

  # 5. Your Python Data Generator
  sensor-simulator:
    build: ./sensors # Builds using the Dockerfile in the current directory
    container_name: sensor_simulator
    environment:
      - MQTT_BROKER=mosquitto  # Tells the script to connect to the service named 'mosquitto'
    networks:
      - iot_network
    depends_on:
      - mosquitto

# Create a shared network for all containers to talk to each other
networks:
  iot_network:
    driver: bridge

# Persist data so you don't lose flows/dashboards when restarting
volumes:
  node_red_data:
  influxdb_data:
  grafana_data: