services:
  # 1. MQTT Broker (Mosquitto)
  mosquitto:
    image: eclipse-mosquitto
    container_name: mqtt_broker
    ports:
      - "1883:1883" 
      - "9001:9001" # Websocket port
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/passwd:/mosquitto/config/passwd  
    networks:
      - iot_network

  # 2. Middleware (Node-RED)
  node-red:
    build:
      context: ./nodered
      dockerfile: Dockerfile
    container_name: node_red
    ports:
      - "1880:1880"
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TELEGRAM_CHATID=${TELEGRAM_CHATID}
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - MQTT_USER=${MQTT_USER}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
    volumes:
      - ./nodered/data:/data
    networks:
      - iot_network

  # 3. Time-Series Database (InfluxDB)
  influxdb:
    image: influxdb:2.7
    container_name: smartcity_influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=${DOCKER_INFLUXDB_INIT_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=smartcity-org
      - DOCKER_INFLUXDB_INIT_BUCKET=smartcity-bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
    volumes:
      - influxdb_data:/var/lib/influxdb2
    networks:
      - iot_network

  # 4. Visualization (Grafana)
  grafana:
    image: grafana/grafana
    container_name: smartcity_grafana
    ports:
      - "3000:3000"
    environment:
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    networks:
      - iot_network
    depends_on:
      - influxdb

  # 5. Python Data Generator
  sensor-simulator:
    build: ./sensors 
    container_name: sensor_simulator
    environment:
      - MQTT_BROKER=mosquitto
      - MQTT_USER=${MQTT_USER}          
      - MQTT_PASSWORD=${MQTT_PASSWORD}  
    networks:
      - iot_network
    depends_on:
      - mosquitto

  # 6. Telegraf
  telegraf:
    image: telegraf:1.30
    container_name: smartcity_telegraf
    depends_on:
      - mosquitto
      - influxdb
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - ./config/thresholds.json:/etc/telegraf/thresholds.json:ro   
    environment:
      - INFLUX_TOKEN=${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
      - MQTT_USER=${MQTT_USER}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
      - THRESHOLDS_PATH=/etc/telegraf/thresholds.json 
    networks:
      - iot_network



# Create a shared network for all containers to talk to each other
networks:
  iot_network:
    driver: bridge

volumes:
  influxdb_data:
  grafana_data: